body {
  text-align: center;
  list-style-type: none;
}

#new-item-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  padding: 5px;
}

#city-state-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.city-state-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #2a48a0;
  border-radius: 5%;
  min-width: 300px;
  background-color:burlywood;
}

.city-state-item:hover {
  background-color:cornsilk;
}